In [ ]:
name = '홍길동'
age =18
#name 변수에 '홍길동'을 대입하고 age 변수에 18 대입

In [ ]:
name

'홍길동'

In [ ]:
age

18

In [ ]:
print name

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (ipython-input-499621179.py, line 1)

In [ ]:
print (name)
print(age)

홍길동
18

In [ ]:
c = 7
b=c
a=b

In [ ]:
print(a,b,c)

7 7 7

In [ ]:
a+= 10

In [ ]:
print(0)

0

In [ ]:
print(a)

17

In [ ]:
umport =100

In [ ]:
import=100

SyntaxError: invalid syntax (ipython-input-3910542285.py, line 1)

In [ ]:
_age=10

In [ ]:
__=20

In [ ]:
a=7
b=11
c=a
a=b
b=c

In [ ]:
print(a)

11

In [ ]:
print(b)

7

In [ ]:
tyoe(age)

NameError: name 'tyoe' is not defined

In [ ]:
type(age
    # 3의 배수를 저장할 변수를 초기화합니다.
multiple_of_3 = 0

# 첫 번째 3의 배수 (3 * 1)
multiple_of_3 += 3
print(multiple_of_3)

# 두 번째 3의 배수 (3 * 2)
multiple_of_3 += 3
print(multiple_of_3)

# 세 번째 3의 배수 (3 * 3)
multiple_of_3 += 3
print(multiple_of_3)

# 네 번째 3의 배수 (3 * 4)
multiple_of_3 += 3
print(multiple_of_3)

SyntaxError: '(' was never closed (ipython-input-2089920990.py, line 1)

In [ ]:
type(age)

int

In [ ]:
type(name)

str

In [ ]:
flag=True

In [ ]:
type(flag)

bool

In [ ]:
height=180

In [ ]:
type(height)

int

In [ ]:
height= 180.5

In [ ]:
type(height)

float

In [ ]:
a= 20
b=0o34
c=0xA1
d=0b1110

In [ ]:
print(a)
print(b)
print(c)
print(d)

False
28
161
14

In [ ]:
a= 10>20

In [ ]:
print(a)

False

In [ ]:
a= 'python'

In [ ]:
a= "python"

In [ ]:
a

'python'

In [ ]:
a= 'Hi'+'python'

In [ ]:
a

'Hipython'

In [ ]:
a=10
b='python'

In [ ]:
c= a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
a= 10
b= '10'

In [ ]:
c= a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
c= str(a)+b

In [ ]:
print(c)

1010

In [ ]:
c=a+int(b)

In [ ]:
print(c)

20

In [ ]:
c= a+float(b)
print(c)

20.0

In [ ]:
c= float(a)+float(b)
print(c)

20.0

In [ ]:
c= int(a)+int(b)
print(c)

20

In [ ]:
name = input('이름을 입력')
age=input('나이를 입력')

이름을 입력홍길동
나이를 입력18

In [ ]:
name

'홍길동'

In [ ]:
age

'18'

In [ ]:
type(age)

str

In [ ]:
later_age = int(age)+2

In [ ]:
later_age

20

In [ ]:
name=input('이름을 입력')
age=int(input('나이를 입력'))

이름을 입력홍길동
나이를 입력18

In [ ]:
age +=2
age

20

In [ ]:
a = 9
b = 5

In [ ]:
c= a-b
c

4

In [ ]:
a = int(input())
b= int(input())
c= a-b
print(c)

9
5
4

In [ ]:
print(b,end='')
print()
print(a,c)

5
9 4

In [ ]:
R= int(input('원의 반지름을 입력하세요'))
m= R*R*3.14
l= f"원의 반지름은 {R}이고 원의면적은 {m}입니다"
print(l)

원의 반지름을 입력하세요3
원의 반지름은 3이고 원의면적은 28.26입니다

In [ ]:
name = "홍길동"
age = 30

# f-문자열을 사용하여 변수 값을 문자열에 포함
greeting = f"안녕하세요, 제 이름은 {name}이고 나이는 {age}세입니다."

print(greeting)

# f-문자열 안에 표현식 사용
result = f"10 + 5는 {10 + 5}입니다."
print(result)

안녕하세요, 제 이름은 홍길동이고 나이는 30세입니다.
10 + 5는 15입니다.